*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.blocos{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.item{
    background-color: aqua;
    height: 200px;
    flex: 0 0 calc(33% - 20px);
}